# ignore .env files, which is a virtual environment
.env

# ignore .codex
.codex

# ignore .vscode
.vscode

# ignore .agent
.agent

# ignore da3/data/cache
da3/data/cache

# ignore experiment outputs
result

# ignore images and pointclouds
*.jpg
*.jpeg
*.png
*.bmp

*.ply
*.npz

# pycache
__pycache__/